*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    margin:1rem;
}

button{
    padding:0.5em 1.5em;
    margin:1rem;
    background:none;
    border:none;
    width:5rem;
    height:2rem;
    text-align: center;
}

button:active{
    color:black;
}

.a1{
    border:2px solid black;
    outline:2px solid black;
    outline-offset: -2px;
    transition:outline-offset 250ms ease;
}

.a1:hover{
    outline-offset:-6px; 
    /* change offset to positive to make it bigger than border */
}

.a2{
    color:white;
    background:rgb(248, 172, 172);
    border:2px solid rgb(248, 172, 172);
    outline:2px solid white;
    outline-offset: -2px;
    transition:outline-offset 250ms ease;
}

.a2:hover{
    outline-offset:-6px;
}

.a3{
    color:rgb(248, 172, 172);
    border:2px solid rgb(248, 172, 172);
    outline:2px solid rgb(248, 172, 172);
    outline-offset: -2px;
    transition:outline-offset 250ms ease,outline-width 250ms ease;
   
}

.a3:hover{
    outline-offset: -6px ;
    outline-width: 6px
}

.a4{
    border:2px solid rgb(187, 248, 172);
    background:rgb(248, 172, 172);
    border-radius:6px;
    position:relative;
    z-index:1;
}

.a4::before{
    content:"";
    position:absolute;
    left:0;
    right:100%;
    bottom:0;
    top:0;
    background:rgb(187, 248, 172);
    z-index:-1;
    transition:250ms ease;
}


.a4:hover::before{
    transition:250ms ease;
    right:0;
}

.a5{
    background:rgb(203, 252, 154);
    position:relative;
    z-index:1;
}

.a5::after{
    content:"";
    position:absolute;
    left:0;
    height:10px;
    width:100%;
    height:100%;
    top:0;
    background:rgb(243, 210, 79);
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 250ms ease-out;
    z-index: -1;
}

.a5:hover::after{
    transform:scaleX(1);
}

.a6{
    background:rgb(203, 252, 154);
    position:relative;
    z-index:1;
}

.a6::after{
    content:"";
    background:rgb(243, 210, 79);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    transform:scaleY(0);
    transform-origin:top;
    transition:transform 300ms ease;
    z-index:-1;
}

.a6:hover::after{
    transform:scaleY(1);
}

.a7{
    background:rgb(203, 252, 154);
    position:relative;
    z-index:1;
}

.a7::after{
    content:"";
    top:0;
    left:0;
    height:100%;
    width:100%;
    position:absolute;
    transform:scale(0,0);
    transform-origin: center;
    transition:transform 300ms ease;
    background:rgb(243, 210, 79);
    z-index:-1;
}

.a7:hover::after{
    transform:scale(1,1);
}

.a8{
    background:rgb(243, 210, 79);
    position:relative;
    z-index:1;
    overflow:hidden;
}

.a8::after{
    content:"";
    background:rgb(203, 252, 154);
    width:100%;
    height:100%;
    left:0;
    top:0;
    transform:scale(1.5);
    transform-origin:center;;
    transition:transform 300ms ease;
    border-radius:50%;
    position:absolute;
    z-index:-1;
}

.a8:hover::after{
    transform:scale(0);
}

.a9{
    background:rgb(243, 210, 79);
    position:relative;
    z-index:1;
    overflow:hidden;
}

.a9::after{
    content:"";
    background:rgb(203, 252, 154);
    width:110%;
    height:100%;
    left:-5%;
    top:0;
    transform:scaleY(1.5);
    transform-origin:top;;
    transition:transform 300ms ease;
    border-radius:0 0 50% 50%;
    position:absolute;
    z-index:-1;
}

.a9:hover::after{
    transform:scaleY(0);
}

.a10{
    background:rgb(243, 210, 79);
    position:relative;
    z-index:1;
    overflow: hidden;
}

.a10::after{
    content:"";
    background:rgb(203, 252, 154);
    position:absolute;
    bottom:0;
    left:-5%;
    height:150%;
    width:110%;
    border-radius:50% 50% 0 0;
    transform-origin:bottom;
    transition:transform 300ms ease;
    z-index:-1;
}

.a10:hover::after{
    transform:scaleY(0);
}

.a11{
   background: #ffc312;
   position:relative;
    overflow: hidden;
   z-index:1;
}

.a11::after{
    content:"";
    background:linear-gradient(to right, #ffc312,#fc9826, #ffc312);
   
    position:absolute;
    bottom:0;
    height:100%;
    left:-50%;
    width:100%;
    
    transform-origin:center;
    transition:transform 600ms ease;
    z-index:-1;
}

.a11:hover::after{
    transform:translateX(90%);
}

