*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    margin:1rem;
}

button{
    padding:0.5em 1.5em;
    margin:1rem;
    background:none;
    border:none;
    width:5rem;
    height:2rem;
    text-align: center;
}

button:active{
    color:black;
}

.area{position:relative;
display:inline-block;}/*for buttons that change size, they don't afftect other button positions*/

.a1{
    border:2px solid black;
    outline:2px solid black;
    outline-offset: -2px;
    transition:outline-offset 250ms ease;
}

.a1:hover{
    outline-offset:-6px; 
    /* change offset to positive to make it bigger than border */
}

.a2{
    color:white;
    background:rgb(248, 172, 172);
    border:2px solid rgb(248, 172, 172);
    outline:2px solid white;
    outline-offset: -2px;
    transition:outline-offset 250ms ease;
}

.a2:hover{
    outline-offset:-6px;
}

.a3{
    color:rgb(248, 172, 172);
    border:2px solid rgb(248, 172, 172);
    outline:2px solid rgb(248, 172, 172);
    outline-offset: -2px;
    transition:outline-offset 250ms ease,outline-width 250ms ease;
   
}

.a3:hover{
    outline-offset: -6px ;
    outline-width: 6px
}

.a4{
    border:2px solid rgb(187, 248, 172);
    background:rgb(248, 172, 172);
    border-radius:6px;
    position:relative;
    z-index:1;
}

.a4::before{
    content:"";
    position:absolute;
    left:0;
    right:100%;
    bottom:0;
    top:0;
    background:rgb(187, 248, 172);
    z-index:-1;
    transition:250ms ease;
}


.a4:hover::before{
    transition:250ms ease;
    right:0;
}

.a5{
    background:rgb(203, 252, 154);
    position:relative;
    z-index:1;
}

.a5::after{
    content:"";
    position:absolute;
    left:0;
    height:10px;
    width:100%;
    height:100%;
    top:0;
    background:rgb(243, 210, 79);
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 250ms ease-out;
    z-index: -1;
}

.a5:hover::after{
    transform:scaleX(1);
}

.a6{
    background:rgb(203, 252, 154);
    position:relative;
    z-index:1;
}

.a6::after{
    content:"";
    background:rgb(243, 210, 79);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    transform:scaleY(0);
    transform-origin:top;
    transition:transform 300ms ease;
    z-index:-1;
}

.a6:hover::after{
    transform:scaleY(1);
}

.a7{
    background:rgb(203, 252, 154);
    position:relative;
    z-index:1;
}

.a7::after{
    content:"";
    top:0;
    left:0;
    height:100%;
    width:100%;
    position:absolute;
    transform:scale(0,0);
    transform-origin: center;
    transition:transform 300ms ease;
    background:rgb(243, 210, 79);
    z-index:-1;
}

.a7:hover::after{
    transform:scale(1,1);
}

.a8{
    background:rgb(243, 210, 79);
    position:relative;
    z-index:1;
    overflow:hidden;
}

.a8::after{
    content:"";
    background:rgb(203, 252, 154);
    width:100%;
    height:100%;
    left:0;
    top:0;
    transform:scale(1.5);
    transform-origin:center;;
    transition:transform 300ms ease;
    border-radius:50%;
    position:absolute;
    z-index:-1;
}

.a8:hover::after{
    transform:scale(0);
}

.a9{
    background:rgb(243, 210, 79);
    position:relative;
    z-index:1;
    overflow:hidden;
}

.a9::after{
    content:"";
    background:rgb(203, 252, 154);
    width:110%;
    height:100%;
    left:-5%;
    top:0;
    transform:scaleY(1.5);
    transform-origin:top;;
    transition:transform 300ms ease;
    border-radius:0 0 50% 50%;
    position:absolute;
    z-index:-1;
}

.a9:hover::after{
    transform:scaleY(0);
}

.a10{
    background:rgb(243, 210, 79);
    position:relative;
    z-index:1;
    overflow: hidden;
}

.a10::after{
    content:"";
    background:rgb(203, 252, 154);
    position:absolute;
    bottom:0;
    left:-5%;
    height:150%;
    width:110%;
    border-radius:50% 50% 0 0;
    transform-origin:bottom;
    transition:transform 300ms ease;
    z-index:-1;
}

.a10:hover::after{
    transform:scaleY(0);
}

.a11{
   background: #ffc312;
   position:relative;
    overflow: hidden;
   z-index:1;
}

.a11::after{
    content:"";
    background:linear-gradient(to right, #ffc312,#fc9826, #ffc312);
   
    position:absolute;
    bottom:0;
    height:100%;
    left:-50%;
    width:100%;
    
    transform-origin:center;
    transition:transform 600ms ease;
    z-index:-1;
}

.a11:hover::after{
    transform:translateX(90%);
}

/* .a12{
    color:white;
    background:black;
    position:relative;
    z-index:1;
}
.a12::before{
    content:"";
    background:linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position:absolute;
    top:-2px;
    left:-2px;
    bottom:-2px;
    right:-2px;
    z-index:-1;
} */
.a12 {
    width: 5rem;
    height: 2rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.a12:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.a12:active {
    color: #000
}

.a12:active:after {
    background: transparent;
}

.a12:hover:before {
    opacity: 1;
}

.a12:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.a13{
    border-top:3px solid pink;
    border-bottom:3px solid pink;
    position:relative;
}

.a13::after{
    content:"";
    position:absolute;
    background:pink;
    bottom:-3px;
    left:0;
    height:3px;
    width:110%;
    transform-origin:left;
    transform:scaleX(0);
    transition:all 300ms ease-in;
}

.a13:hover::after{
    transform:scaleX(1);
    transform:rotateZ(-20deg);
}

.a13::before{
    content:"";
    position:absolute;
    background:pink;
    bottom:-3px;
    right:0;
    height:3px;
    width:110%;
    transform-origin:right;
    transform:scaleX(0);
    transition:all 300ms ease-in;
}

.a13:hover::before{
    transform:scaleX(1);
    transform:rotateZ(20deg);
}

.a14{
    background:chocolate;
    color:white;
    border-radius:10px;
    box-shadow:2px 4px 3px 1px rgba(0,0,0,0.4);
    transition:all 100ms ease;
    padding:4rem;
    margin-left:2rem

}

.a14:active{
    box-shadow:1px 2px 1px 0px rgba(0,0,0,0.8);
    background:rgb(194, 93, 21);
    color:white;
    padding:3.9rem;
    margin-left:2.1rem;
}


.a15{
    background:rgb(175, 255, 155);
    position:relative;
    z-index:1;
    transition:letter-spacing 200ms ease-out;
}

.a15:hover{
    letter-spacing: 2px;
}

.a15::before{
    content:"";
    position:absolute;
    border-top:2px solid rgb(114, 233, 46);
    border-bottom:2px solid rgb(114, 233, 46);
    bottom:0px;
    right:0;
    height:calc(100% - 4px);
    width:100%;
    transform-origin:center;
    transform:scaleX(0);
    transition:transform 200ms ease-out;
}

.a15:hover::before{
    transform:scale(1);
}

.a15::after{
    content:"";
    height:100%;
    width:100%;
    background:rgb(179, 240, 139);
    position:absolute;
    left:0;
    top:0;
    transform-origin:center;
    transform:scaleX(1);
    transition:transform 200ms ease-out; 
    z-index: -1;
}

.a15:hover::after{
    transform:scaleX(0);
}

.a16{
    background:rgb(236, 236, 236);
    color:rgb(236, 236, 236);/* because text has padding and it'll change the button position */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    border-radius:25px;
    position:relative;
    z-index:1;
    overflow: hidden;
}

.a16::before{
    content:"";
    height:26px;
    width:26px;
    top:3px;
    left:3px;
    background:white;
    position:absolute;
    border-radius:50%;
    transform-origin:left;
    transform:translateX(0);
    transition:all 100ms ease;
    z-index:1;
}

.a16::after{
    content:"";
    background:rgb(54, 212, 39);
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0%;
    transform:translateX(-100%);
    z-index:-1;
}

.a16:active::before{
    transform:translateX(48px);
    transition:all 100ms ease;
}

.a16:active::after{
    transform:translateX(0);
}




